<%- include ('partials/header.ejs') %>
    <%- include ('partials/navbar.ejs') %>

        <div class="container">
            <div class="card">
                <div class="card-header">
                    <h1>Clientes</h1>
                </div>
                <div class="card-body">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th></th>
                                <th><i class="fa-solid fa-person"></i> Nome: </th>
                                <th><i class="fa-solid fa-address-card"></i> </i> CPF:</th>
                                <th><i class="fa-solid fa-location-dot"></i> Endereço:</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% clientes.forEach(cliente=> { %>
                                <tr>
                                    <td><img src="imgs/clipboard-user-solid.jpg" width="20px"></td>
                                    <td>
                                        <%= cliente.nome %>
                                    </td>
                                    <td>
                                        <%= cliente.cpf %>
                                    </td>
                                    <td>
                                        <%= cliente.endereco %>
                                    </td>
                                </tr>
                                <% }) %>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
<br><br><br><br>
<%- include ('partials/footer.ejs') %>